* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.hero {
	padding: 3rem;
	background-color: lightblue;
	margin-bottom: 3rem;
}
.controls {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	gap: 0.5rem;
	margin-bottom: 5rem;
}
.controls button {
	grid-column: 1/3;
}
.board {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.cell {
	min-width: 100px;
	min-height: 100px;
	border: 1px solid black;
	border-collapse: collapse;
}
