* {
	box-sizing: border-box;
	margin: 0;
}

.board {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.cell {
	min-width: 100px;
	min-height: 100px;
	border: 1px solid black;
	border-collapse: collapse;
}
